/* Estilos CSS GALERIA */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/BG.JPEG');
    background-size: auto;
    color: white;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: font-size 0.3s ease;
}

header ul li a:hover {
    font-size: 1.1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-container {
    width: 50%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.photo-container:hover img {
    transform: scale(1.5);
}


section {
    display: block;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
}

.contact-info {
    margin-top: 30px;
}

.contact-info h3 {
    margin-bottom: 10px;
}
.container {
    text-align: left;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
}
/* styles.css */

.nav-link.active {
    font-weight: bold;
    color: BLACK;
    background-color: #eee;
}

footer {
    text-align: center;
}
footer.galeria {
    position: fixed;
    width: 100%;
    bottom: 0;
}
